.box
{
          background-color: rgb(184, 240, 180);
          padding: 100px;
          margin: 150px;
          border-radius: 25px;
          text-transform:capitalize;


}
.btn, .btn-primary
{
          align-items: center;
          text-align: center;
}
.box1
{
          text-align: center;   
          margin-top: 20px;
}
  