
// .h2 {
//     color: chartreuse;
//     text-align: center;
// }

// .h1 {
//     background-color: aqua;
//      margin: 20px; 
//      text-align: center;
    
// }

.box {
    margin: 20px;
    text-align: centers;
    padding: 50px;
}

.box1 {
    margin: 10px;
    text-align: centers;
    padding: 50px;
}
.search1 {
    margin-left: 150px;
    padding: 15px;
    color: rgb(255, 0, 13);
}
.bckgrnd {
    background-color: rgb(24, 23, 23);
    padding: 30px;
    border-radius: 25px;
    margin: 20px;
}
